<p>
    <label>Username</label> <input id="username">
</p>
<p>
    <label>Password</label> <input id="password">
</p>
<button onclick="login()">Sign in</button>

<script type="text/javascript" src="/js/hk/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    function login(){
        var data = {"username": $("#username").val(),
                    "password": $("#password").val()};

        $.ajax({
            url : "/login" ,
            type : 'post',
            headers: {'Content-Type':'application/json'},
            data : JSON.stringify(data),
            complete:function(xhr,data){
                /*alert("yyyy-------"+JSON.stringify(data))
                alert(xhr.getResponseHeader('Authorization'));
                var req = new XMLHttpRequest();
                req.open('GET', '/provinceVedio', true);
                req.setRequestHeader("Authorization", xhr.getResponseHeader('Authorization'));
                req.send();*/
                window.location.href='/provinceVedio?token='+xhr.getResponseHeader('Authorization');
            },
            success : function(data) {


            }
        });
    }
</script>